@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,500;1,500&family=Inter:ital,opsz@0,14..32;1,14..32&family=Montserrat:ital,wght@0,800;1,800&family=Teko:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1F1517;
    color: #FFFFFF;
}

html {
    font-family: inter, sans-serif;
    font-weight: 500;
}

ul {
    list-style: none;
}

nav {
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem, 100rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #FFF2E7;
    text-decoration: none;
    position: relative;

}

nav a::after {
    content: " ";
    width: 0%;
    height: 4px;
    background-color: #FFF2E7;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: -0.2rem;
    transition: 0.5s ease-in-out;
}

nav a:hover::after {
    width: 100%;
    
}

.logo {
    font-family: Teko;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0.5rem;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    color: #FFF2E780;
}

.github {
    color: #FFF2E7;
    font-weight: 600;
}

main {
    display: flex;
    flex-direction: column;
}

h1 {
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 3.5rem;
    font-weight: 800;
}

hr {
    border-color: #A45A49;
}

.hero-subtitulo {
    color: #C7BAB3;
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 400;
}

.principal {
    background: #181012;
    max-width: 3200px;
}

.hero {
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6rem;
    padding: 0rem 2rem;
    margin: auto;
    overflow: clip;
    align-items: center;
}

.hero-conteudo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero-imagens-container {
    max-width: 42%;
    column-count: 3;
    gap: 1rem;
    margin: -1rem;
}

.hero-imagens-container>figure>img {
    width: 100%;
    border-radius: 0.5rem;
}

.boxes {
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    padding: 3rem 2rem;
    margin: auto;
}

.boxes-cabecalho {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.confira {
    color: #E7A80E;
    font-family: Epilogue;
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
}

.boxes-titulo {
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 700;
    color: #FFF2E7;
}

.boxes-subtitulo {
    color: #C7BAB3;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}

.boxes-cards-container {
    padding: 0rem 10rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.boxes-cards {
    background: #241A1C;
    padding: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-basis: 100rem;
    margin-top: 2rem;
    justify-content: space-between;
}

.boxes-cards-cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.boxes-cards-detalhes-cabecalho {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.boxes-titulo {
    color: #FFF2E7;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 700;
}

.boxes-conteudo {
    color: #C7BAB3;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
}

footer {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background: #23181A;
}

.footer-copy {
    color: #FFF2E7;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
}

.footer-autor {
    color: rgba(255, 242, 231, 0.50);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
}

